@font-face {
  font-family: 'GilroyRegular';
  src: url('./assets/fonts/GilroyRegular/GilroyRegular.eot');
  src: url('./assets/fonts/GilroyRegular/GilroyRegular.eot')
      format('embedded-opentype'),
    url('./assets/fonts/GilroyRegular/GilroyRegular.woff2') format('woff2'),
    url('./assets/fonts/GilroyRegular/GilroyRegular.woff') format('woff'),
    url('./assets/fonts/GilroyRegular/GilroyRegular.ttf') format('truetype'),
    url('./assets/fonts/GilroyRegular/GilroyRegular.svg#GilroyRegular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyrMedium';
  src: url('./assets/fonts/HelveticaNeueCyrMedium/HelveticaNeueCyrMedium.eot');
  src: url('./assets/fonts/HelveticaNeueCyrMedium/HelveticaNeueCyrMedium.eot')
      format('embedded-opentype'),
    url('./assets/fonts/HelveticaNeueCyrMedium/HelveticaNeueCyrMedium.woff2')
      format('woff2'),
    url('./assets/fonts/HelveticaNeueCyrMedium/HelveticaNeueCyrMedium.woff')
      format('woff'),
    url('./assets/fonts/HelveticaNeueCyrMedium/HelveticaNeueCyrMedium.ttf')
      format('truetype'),
    url('./assets/fonts/HelveticaNeueCyrMedium/HelveticaNeueCyrMedium.svg#HelveticaNeueCyrMedium')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyrLight';
  src: url('./assets/fonts/HelveticaNeueCyrLight/HelveticaNeueCyrLight.eot');
  src: url('./assets/fonts/HelveticaNeueCyrLight/HelveticaNeueCyrLight.eot')
      format('embedded-opentype'),
    url('./assets/fonts/HelveticaNeueCyrLight/HelveticaNeueCyrLight.woff2')
      format('woff2'),
    url('./assets/fonts/HelveticaNeueCyrLight/HelveticaNeueCyrLight.woff')
      format('woff'),
    url('./assets/fonts/HelveticaNeueCyrLight/HelveticaNeueCyrLight.ttf')
      format('truetype'),
    url('./assets/fonts/HelveticaNeueCyrLight/HelveticaNeueCyrLight.svg#HelveticaNeueCyrLight')
      format('svg');
  font-weight: normal;
  font-style: normal;
}
