.home {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  padding: 60px 55px 90px 55px;
  background: #ffffff;

  &__title {
    font-weight: bold;
    font-size: 45px;
    line-height: 35px;
  }
}

.container {
  display: flex;
}

.left-block {
  flex: 0 0 370px;
  width: 370px;
}

.right-block {
  flex: 0 0 calc(100% - 370px);
  width: calc(100% - 370px);
  padding-left: 10px;
  /* border: 1px solid #ccc; */
}

.nice-dates-navigation {
  margin-bottom: 22px;
}

.nice-dates-navigation_previous,
.nice-dates-navigation_next {
  width: 35px;
  height: 35px;
  padding-bottom: 0;
  background-color: #f5f5f5;
  border-radius: 20px;
}

.nice-dates-navigation_previous::before,
.nice-dates-navigation_next::before {
  border-right: 1.5px solid #333333;
  border-top: 1.5px solid #333333;
  width: 9px;
  height: 9px;
  margin-left: -4.5px;
  margin-top: -4.5px;
}

.nice-dates-navigation_previous {
  margin-left: 45px;
}

.nice-dates-navigation_next {
  margin-right: 50px;
}

.nice-dates-navigation_current {
  font-size: 22px;
}

.nice-dates-week-header_day {
  color: #364860;
}

.nice-dates-week-header {
  box-shadow: none;
}

.nice-dates-day.-wide {
  height: 43px !important;
}

.nice-dates-day.-wide::before {
  background-color: #364860;
}

.nice-dates-day.-wide::before,
.nice-dates-day.-wide::after {
  left: 38%;
  right: 38%;
  top: 10%;
  width: 33px;
  height: 33px;
}

.nice-dates-day_month {
  display: none;
}

.nice-dates-grid {
  height: 258px !important;
}

.calendar-wrapper {
  margin-bottom: 50px;
}

.stat-wrap {
  display: flex;
  padding: 0 50px;
  margin-bottom: 80px;
}

.stat-block {
  flex: 0 0 25%;
  display: flex;

  &__left {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }

  &__left p {
    font-size: 42px;
    line-height: 30px;
    margin: 0;
    color: #364860;
  }

  &__rigth p {
    font-family: 'HelveticaNeueCyrLight';
    font-size: 18px;
    line-height: 17px;
    color: #333333;
    padding-left: 10px;
    margin: 0;
  }

  &.end {
    justify-content: end;
  }

  &.center {
    justify-content: center;
  }
}

.graph-header {
  display: flex;
  padding: 0 45px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.graph-title {
  margin-bottom: 0;
  margin-top: 0;
  font-family: 'HelveticaNeueCyrLight';
  font-size: 19px;
  line-height: 1;
  font-weight: 300;
}

.switch-month-year {
  display: block;
  position: relative;

  input:checked + .slider-switch {
    background-color: #364860;
  }

  input:checked + .slider-switch:before {
    transform: translateX(23px);
  }
}

.switch {
  display: inline-block;
  position: relative;
  width: 58px;
  height: 35px;

  input {
    display: none;
  }
}

.slider-switch {
  display: block;
  background-color: transparent;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
  border-radius: 20px;
  background-color: #f5f5f5;

  &:before {
    position: absolute;
    background-color: #ffffff;
    bottom: 3px;
    content: '';
    height: 29px;
    left: 3px;
    transition: 0.4s;
    width: 29px;
    border-radius: 50%;
  }
}

.switch-wrapper {
  display: flex;
  position: relative;
  width: 148px;
  justify-content: space-between;
  align-items: center;

  p {
    margin: 0;
    font-family: 'HelveticaNeueCyrLight';
    font-size: 11px;
    line-height: 10px;
    color: #666;
  }
}

.chart-wrapper {
  padding: 0 45px;
}
